{% extends 'base.html' %}


{% block body %}

  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

<main class="flex-grow-1">
    <div class="container-lg mt-3">
      <h1>Сайты</h1>

    
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Последняя проверка</th>
        <th>Код ответа</th>
      </tr>
    </thead>
    {% for url in data_urls %}
          <tbody>
            <tr>
              <td>{{url.id}}</td>
              <td><a href="/urls/{{url.id}}">{{url.name}}</a></td>
              {% if url.date %}
              <td>{{url.date}}</td>
              {% endif %}
              {% if url.status %}
              <td>{{url.status}}</td>
              {% endif %}
            </tr>
          </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}